<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>281444392735-udokt09gpevql05japv4j649hsakbfub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281444392735-udokt09gpevql05japv4j649hsakbfub</string>
	<key>API_KEY</key>
	<string>AIzaSyCS8LT3002IS55n-U6K3IAHd4CqeffdjVY</string>
	<key>GCM_SENDER_ID</key>
	<string>281444392735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stevenlee.intertview</string>
	<key>PROJECT_ID</key>
	<string>interview-27ac8</string>
	<key>STORAGE_BUCKET</key>
	<string>interview-27ac8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:281444392735:ios:8521e742d765e085</string>
	<key>DATABASE_URL</key>
	<string>https://interview-27ac8.firebaseio.com</string>
</dict>
</plist>